.pageWrapper {
  display: flex;
  max-width: 1150px;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 20px 30px;
}

.iconGroup {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: #698474;
}

.snsTag {
  text-decoration: none;
  color: #698474;
  display: flex;
  align-items: center;
  gap: 5px;
}

.aboutMeContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.aboutMe {
  width: 65%;
  margin: 0;
}

.nameGroup {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.title {
  font-weight: 300;
  font-size: 1.5rem;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.introContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.contact {
  color: #698474;
}

.sectionTitle {
  font-weight: 300;
  font-size: 2.5rem;
  text-align: center;
  border-bottom: dashed 2px #cccccc;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
}

@media only screen and (max-width: 700px) {
  .name {
    font-size: 2rem;
  }

  .title {
    font-size: 1rem;
  }

  .contact {
    font-size: 0.8rem;
  }

  .introContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sectionTitle {
    font-size: 1.5rem;
  }

  .aboutMeContainer {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}
