.aboutPage {
  display: flex;
  max-width: 1150px;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
}

.iconGroup {
  height: 150px;
  margin: 30px 0 0 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  color: #698474;
}

.snsTag {
  text-decoration: none;
  color: #698474;
}

.aboutMe {
  width: 800px;
  height: 400px;
  padding: 35px;
}

.leftPage {
  width: 250px;
  margin: 0 auto;
}
