.about-page {
  display: flex;
  max-width: 1150px;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
}

.icon-group {
  height: 150px;
  margin: 30px 0 0 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  color: #698474;
}

.sns-tag {
  text-decoration: none;
  color: #698474;
}

.about-me {
  width: 800px;
  height: 400px;
  padding: 35px;
}

.left-page {
  width: 250px;
  margin: 0 auto;
}
