.work-page {
  margin: 1.45rem 50px;
}

.demo {
  max-width: 500px;
}

.work {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.work-title {
  margin: 0;
}

.work-spec {
  width: 500px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.link {
  margin-right: 20px;
  text-decoration: none;
  color: #606060;
}

.link:hover {
  color: #ffaaa5;
}
