.work {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.demo {
  max-width: 40vw;
  box-shadow: 5px 5px 8px #606060;
}

@media screen and (max-width: 800px) {
  .demo {
    max-width: 90vw;
  }
}

.work-spec {
  width: 500px;
  height: 250px;
  margin: auto 0;
}

.work-title {
  margin-bottom: 15px;
}

.link {
  margin-right: 20px;
  text-decoration: none;
  color: #698474;
}

.link:hover {
  color: #ffaaa5;
}

.link-group {
  margin-bottom: 15px;
}

.logo-group {
  display: flex;
  justify-content: space-evenly;
}

.app-Intro {
  margin-bottom: 50px;
}
